<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registro.css') }}">
</head>
<body>

<video autoplay muted loop class="bg-video">
    <source src="{{ url_for('static', filename='videos/fondonvidia.mp4') }}" type="video/mp4">
    Tu navegador no soporta videos HTML5.
</video>

<div class="form-container">
    <h1>Registro</h1>
    {% if alerta %}
    <div class="alerta">
        <p>{{ alerta }}</p>
    </div>
    {% endif %}
    <form method="post">
        <input type="email" name="email" placeholder="Correo electrónico" required><br>
        <input type="text" name="mobile" placeholder="Teléfono móvil" required><br>
        <input type="date" name="dob" placeholder="Fecha de nacimiento" required><br>
        <input type="text" name="postcode" placeholder="Código postal" required><br>
        <input type="text" name="username" placeholder="Nombre de usuario" required><br>
        <input type="password" name="password" placeholder="Contraseña" required><br>
        <button type="submit">Registrar</button>
    </form>
</div>

</body>
</html>
